# ROS build files
ros_ws/build/
ros_ws/devel/
ros_ws/install/

# Arduino garbage
*.hex
*.elf
*.bin
*.cpp.d
*.d
*.o
*.eep

# IDEs / OS junk
.vscode/
.idea/
.DS_Store
Thumbs.db


# ext libraries
src/YDLidar-SDK/
src/ydlidar_ros2_driver/
src/serial/
